.outer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: auto;
}
.gallery-image-container {
    width: 48%;
}
.gallery-image {
    margin: 10px;
    border-radius: 5px;
    position: relative;
}
.gallery-item-text {
   display: flex;
   width: 97%;
   flex-direction: column;
}
.thumbnail-overlay {
    position: absolute;
    top: 0;
    opacity: 0;
    background-color: darkslategray;
    min-width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}
.thumbnail-overlay:hover {
    opacity: .8;
}