@keyframes register-link-attention {
    from {text-shadow: 2px 2px blue;}
    to {text-shadow: 2px 2px green;}
}


.nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  padding: 0 10px 0 10px;
}
.nav-item {
    font-size: 20px;
    padding: 0px 10px 0px 10px;
}
.nav-logo {
  width: 50px;
  height: 50px;
  background-color: #4b4b4b;
  border-radius: 10px;
}

img .nav-logo {
  margin-bottom: 0px;
}
.nav-home-link {
  margin-left: auto;
  margin-right: 21px;
}

.subscribe-button {
    font-size: 20px;
    animation-name: register-link-attention;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    padding: 0px;
    background-color: transparent;
    color: whitesmoke;
}

.subscribe-button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.nav-item:hover {
  transform: scale(1.05);
}